<div class='welcome' style='text-align: center'>Welcome to the Makers Rock, Paper, Scissors Game</div>
<div class='login' style='text-align: center'>login</div>
<div class='register' style='text-align: center'><a href='/register'>register</a></div>
<div class='end_game' style='text-align: center'><a href='/end_game'>log out</a></div>
<div class='instructions' style='text-align: center'>Login to play</div>
<div class='registration_form' style='text-align: centre'>
  <form action='/log_start' method='post'>
  Username: <input type='text' name='username' >
  <input type='submit' value='Submit'>
  </form>
</div>
