<div class='welcome' style='text-align: center'>Welcome to the Makers Rock, Paper, Scissors Game</div>
<div class='register' style='text-align: center'>register</div>
<div class='login' style='text-align: center'><a href='/login'>log in</a></div>
<div class='end_game' style='text-align: center'><a href='/end_game'>log out</a></div>
<div class='instructions' style='text-align: center'>Register to play</div>
<div class='registration_form' style='text-align: centre'>
  <form action='/reg_start2' method='post'>
  Username: <input type='text' name='username' >
  User email address: <input type='text' name='useremail'>
  <input type='submit' value='Submit'>
  </form>
</div>
