<div class='welcome' style='text-align: center'>Welcome to the Makers Rock, Paper, Scissors Game</div>
<div class='register' style='text-align: center'><a href='/register2'>register another opponent</a></div>
<div class='login' style='text-align: center'><a href='/login2'>log in another opponent</a></div>
<div class='end_game' style='text-align: center'><a href='/end_game'>log out</a></div>
<div class='instructions' style='text-align: center'><%= @game.message %></div>
<div class='play' style='text-align: center'><a href='/play'>play computer</a></div>
